.quizBox {
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
  padding: 10px;
  margin: 30px auto;
  width: 100%;
}

.header {
  display: flex;
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
  padding-bottom: 5px;

  .title {
    font-size: 16px;
    font-weight: bold;
    flex: 1 1 auto;
  }

  .questionNumber {
    font-size: 16px;
    text-align: right;
    flex: 0 0 auto;
  }
}

.question {
  margin-bottom: 30px;
}

.option {
  background: #f1f1f1;
  padding: 7px 10px;
  border-radius: 5px;
  margin-top: 15px;
  font-size: 16px;
  cursor: pointer;
}

.footer {
  display: flex;
  margin-top: 20px;
  border-top: 1px solid #ddd;
  padding-top: 10px;

  & > div {
    flex: 1 1 auto;
  }

  & > div:last-child {
    text-align: right;
  }
}

.btn {
  padding: 5px 20px;
  font-family: inherit;
  background: #FE2D74;
  font-size: 16px;
  border: none;
  border-radius: 3px;
  color: #fff;
}
