html, body {
  font-family: 'Lora', serif;
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 1.7;
  background: #eeeeee;
  color: rgba(0,0,0,.8);
}

/*** Headers ***/
h1, h2 {
  margin: 0;
}
h1 {
  font-size: 400%;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0 0 .75em;
  line-height: 1.02;
  font-weight: 700;
}
h2 {
  font-size: 250%;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 1em 0 .5em;
  line-height: 1.02;

  code {
    font-size: 30px;
  }
}
h3 {
  font-size: 180%;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 1em 0 .3em;
}
h4 {
  font-size: 130%;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 1em 0 .3em;
}

img {
  max-width: 100%;
}

/*** Headers ***/

/* Common elements */
p {
  margin-top: 1em;
}

blockquote {
  margin: 0;
  margin-top: 30px;
  padding-left: 10px;
  border-left: 3px solid #fe2d74;
}
/* End common elements */


/*** Container ***/
.container {
  max-width: 1200px;
  width: 100%;
  padding: 0 15px;
  box-sizing: border-box;
  margin: auto;
  display: flex;
}

.sidebar {
  flex: 0 0 300px;
  margin-right: 20px;
  font-family: 'Source Sans Pro', sans-serif;

  h4 {
    margin-bottom: 0;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      font-size: 16px;
    }
  }
}

.contentArea {
  flex: 1 1 auto;
  padding: 20px;
  background: #fff;
  box-shadow: 0 0 3px #aaa;
  box-sizing: border-box;
  min-width: 0;
  overflow: auto;

  @media screen and (min-width: 768px) {
    padding: 60px;
  }
}

.contentBox {
  padding: 20px;
  background: #fff;
  box-shadow: 0 0 3px #aaa;
  box-sizing: border-box;
  width: 100%;

  @media screen and (min-width: 768px) {
    padding: 60px;
  }

  .homeGrid {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;

    .homeBox {
      flex: 0 0 100%;
      font-family: 'Source Sans Pro', sans-serif;

      @media screen and (min-width: 768px) {
        flex: 0 0 33.3333%;
      }

      h4 {
        margin-bottom: 0;
      }

      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
          font-size: 16px;
        }
      }
    }
  }
}


/*** Links ***/
a {
  color: #1e88e5;
  text-decoration: none;
}


/*** 2 col grid ***/
.grid-2 {
  display: flex;

  .col-1 {
    width: 250px;
    box-sizing: border-box;
    border-right: 1px solid #f4f4f4;
    padding-right: 15px;
  }

  .col-2 {
    flex: 1;
    box-sizing: border-box;
    padding-left: 30px;
  }
}


.sidebarMenu {
  h3 {
    margin: 0;
  }

  ul{
    margin: 0 0 30px;
    padding: 0;
    list-style-type: none;

    li {
      margin: 8px 0;

      a {
        color: #444;
        font-size: 14px;
        line-height: 16px;
      }
    }
  }
}

/*** Prismjs ***/
pre[class*="language-"] {
  border-radius: 3px;
  border: none;
  box-shadow: none;
  font-weight: 300;
  font-size: .9em;
}

code[class*="language-"], pre[class*="language-"] {
  text-shadow: none;
}

:not(pre) > code[class*="language-"] {
  border: none;
  font-size: .9em;
  color: #FD2D74;
  box-shadow: none;
  border-radius: 3px;
  font-weight: 300;
  background: none;
}

.token {
  &.operator {
    background: none;
  }
}

.line-numbers .line-numbers-rows {
  padding: 1em .1em 1em .6em;
}

/*** Prismjs ***/
