.wrapper {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 10px;
  background: #fff;
  box-sizing: border-box;
  margin-top: 20px;

  img {
    width: 100%;
    display: block;
  }

  .caption {
    padding: 4px;
    text-align: center;
    font-size: 14px;
  }
}
