header {
  display: flex;
  height: 100px;
  align-items: center;
}

.logo {
  height: 18px;
  margin-bottom: 0;
  margin-right: 5px;
}

a .logoText {
  font-weight: 700;
  font-size: 22px;
  color: #000;
  font-family: 'Source Sans Pro', sans-serif;
}
