.container {
  display: flex;
  flex-direction: column;
  max-width: 920px;
  padding: 0 20px;
  margin: auto;
  counter-reset: a;

  .box {
    font-size: 16px;
    width: 100%;
    counter-reset: b;
    counter-increment: a;

    .content {
      background: #fff;
      margin: 10px;
    }

    .title {
      padding: 5px 15px 5px 15px;
      margin-bottom: 10px;
      color: #FE2E74;
      font-size: 16px;
      font-weight: bold;
      border-bottom: 1px solid #eee;
    }

    .subTitle {
      padding: 10px 15px 0 15px;
    }

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0px 15px 10px 15px;

      &.level1 {
        display: flex;
        flex-wrap: wrap;

        li {
          width: 33.333333%;
          counter-increment: b;
          &::before {
            width: 30px;
            color: #bbb;
            font-family: consolas, monospace;
            font-size: 14px;
            display: inline-block;
            content: counter(a) "." counter(b);
          }
        }
      }
    }
  }
}
